<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ujiuye.usual.mapper.BaoxiaoreplyMapper" >
  <resultMap id="BaseResultMap" type="com.ujiuye.usual.bean.Baoxiaoreply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="replytime" property="replytime" jdbcType="TIMESTAMP" />
    <result column="baoxiao_fk" property="baoxiaoFk" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, replytime, baoxiao_fk
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from baoxiaoreply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from baoxiaoreply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ujiuye.usual.bean.Baoxiaoreply" >
    insert into baoxiaoreply (id, content, replytime, 
      baoxiao_fk)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{replytime,jdbcType=TIMESTAMP}, 
      #{baoxiaoFk,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ujiuye.usual.bean.Baoxiaoreply" >
    insert into baoxiaoreply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="replytime != null" >
        replytime,
      </if>
      <if test="baoxiaoFk != null" >
        baoxiao_fk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="replytime != null" >
        #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="baoxiaoFk != null" >
        #{baoxiaoFk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ujiuye.usual.bean.Baoxiaoreply" >
    update baoxiaoreply
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="replytime != null" >
        replytime = #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="baoxiaoFk != null" >
        baoxiao_fk = #{baoxiaoFk,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ujiuye.usual.bean.Baoxiaoreply" >
    update baoxiaoreply
    set content = #{content,jdbcType=VARCHAR},
      replytime = #{replytime,jdbcType=TIMESTAMP},
      baoxiao_fk = #{baoxiaoFk,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPizhuBybxid" resultMap="BaseResultMap">
        select *  from  baoxiaoreply where baoxiao_fk=#{bxid}
  </select>

</mapper>